In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
 url="https://www.worldometers.info/coronavirus/"

In [4]:
response = requests.get(url)
print(response)

<Response [200]>

In [5]:
soup = BeautifulSoup(response.content,"html.parser")

In [6]:
soup.title

In [1]:
divs=soup.find("div", class_="panel_flip")
print(divs)
for i in divs.find_all("div",class_="panel_front"):
    print(i.text)

NameError: name 'soup' is not defined

In [145]:
table = soup.find_all("table")

In [146]:
print(len(table))

2

In [147]:
table=table[0]

In [159]:
country=[]
Total_cases=[]
New_cases=[]
Total_deaths=[]
New_deaths=[]


rows=table.find_all("tr")[9:-8]
for row in rows:
    col = row.find_all("td")
    country.append(col[0].text.strip())
    Total_cases.append(col[1].text.strip())
    New_cases.append(col[2].text.strip())
    Total_deaths.append(col[3].text.strip())
    New_deaths.append(col[4].text.strip())

In [160]:
print(country)

['USA', 'Spain', 'Italy', 'France', 'Germany', 'UK', 'Turkey', 'Iran', 'Russia', 'Brazil', 'Belgium', 'Canada', 'Netherlands', 'Switzerland', 'India', 'Portugal', 'Ecuador', 'Peru', 'Ireland', 'Sweden', 'Austria', 'Israel', 'Saudi Arabia', 'Mexico', 'Japan', 'Singapore', 'Chile', 'Pakistan', 'Poland', 'S. Korea', 'Romania', 'Belarus', 'Qatar', 'UAE', 'Indonesia', 'Denmark', 'Ukraine', 'Serbia', 'Norway', 'Philippines', 'Czechia', 'Australia', 'Dominican Republic', 'Malaysia', 'Panama', 'Bangladesh', 'Colombia', 'Finland', 'South Africa', 'Egypt', 'Morocco', 'Luxembourg', 'Argentina', 'Algeria', 'Moldova', 'Thailand', 'Kuwait', 'Kazakhstan', 'Bahrain', 'Greece', 'Hungary', 'Croatia', 'Oman', 'Uzbekistan', 'Iceland', 'Iraq', 'Armenia', 'Estonia', 'Azerbaijan', 'Bosnia and Herzegovina', 'Afghanistan', 'New Zealand', 'Cameroon', 'Lithuania', 'Slovenia', 'Slovakia', 'North Macedonia', 'Cuba', 'Ghana', 'Bulgaria', 'Nigeria', 'Ivory Coast', 'Hong Kong', 'Djibouti', 'Guinea', 'Tunisia', 'Bolivia', 'Cyprus', 'Latvia', 'Andorra', 'Albania', 'Diamond Princess', 'Lebanon', 'Costa Rica', 'Niger', 'Kyrgyzstan', 'Burkina Faso', 'Senegal', 'Honduras', 'Uruguay', 'Channel Islands', 'San Marino', 'Palestine', 'Georgia', 'Malta', 'Jordan', 'Guatemala', 'Taiwan', 'Sri Lanka', 'DRC', 'Réunion', 'Mayotte', 'Kenya', 'Mauritius', 'Somalia', 'Mali', 'Montenegro', 'Venezuela', 'Isle of Man', 'Tanzania', 'Jamaica', 'El Salvador', 'Vietnam', 'Paraguay', 'Equatorial Guinea', 'Congo', 'Faeroe Islands', 'Rwanda', 'Sudan', 'Gabon', 'Martinique', 'Guadeloupe', 'Myanmar', 'Brunei', 'Maldives', 'Gibraltar', 'Madagascar', 'Ethiopia', 'Cambodia', 'Liberia', 'Trinidad and Tobago', 'French Guiana', 'Aruba', 'Bermuda', 'Monaco', 'Togo', 'Cabo Verde', 'Zambia', 'Sierra Leone', 'Liechtenstein', 'Barbados', 'Uganda', 'Sint Maarten', 'Bahamas', 'Guyana', 'Haiti', 'Cayman Islands', 'Mozambique', 'Libya', 'French Polynesia', 'Benin', 'Guinea-Bissau', 'Nepal', 'Macao', 'Syria', 'Eswatini', 'Chad', 'Eritrea', 'Saint Martin', 'Mongolia', 'Malawi', 'Zimbabwe', 'Angola', 'Antigua and Barbuda', 'Timor-Leste', 'Botswana', 'Laos', 'Belize', 'Fiji', 'New Caledonia', 'Curaçao', 'CAR', 'Dominica', 'Namibia', 'Grenada', 'Saint Kitts and Nevis', 'Saint Lucia', 'St. Vincent Grenadines', 'Falkland Islands', 'Nicaragua', 'Burundi', 'Montserrat', 'Turks and Caicos', 'Greenland', 'Seychelles', 'Gambia', 'Suriname', 'MS Zaandam', 'Vatican City', 'Papua New Guinea', 'Mauritania', 'Bhutan', 'St. Barth', 'Western Sahara', 'British Virgin Islands', 'Caribbean Netherlands', 'South Sudan', 'Sao Tome and Principe', 'Anguilla', 'Saint Pierre Miquelon', 'Yemen', 'China']

In [150]:
data = pd.DataFrame(list(zip(country,Total_cases,New_cases,Total_deaths,New_deaths)),columns=["Country","Total_cases","New_cases","Total_deaths","New_deaths"])
print(data)

     Country Total_cases New_cases Total_deaths New_deaths
0        USA     925,758      +526       52,217        +24
1      Spain     219,764                 22,524
2      Italy     192,994                 25,969
3     France     159,828                 22,245
4    Germany     155,054       +55        5,767         +7
..       ...         ...       ...          ...        ...
214   Total:     453,519    +5,303       16,757       +154
215   Total:     121,322    +1,156        5,573        +35
216   Total:       8,257       +25           98         +2
217   Total:      30,090      +250        1,332         +4
218   Total:         721                     15

[219 rows x 5 columns]

In [151]:
import numpy as np
data.replace(r'^s*$',np.nan,regex=True,inplace=True)
data.replace(np.nan,0,inplace=True)
data

     Country Total_cases New_cases Total_deaths New_deaths
0        USA     925,758      +526       52,217        +24
1      Spain     219,764         0       22,524          0
2      Italy     192,994         0       25,969          0
3     France     159,828         0       22,245          0
4    Germany     155,054       +55        5,767         +7
..       ...         ...       ...          ...        ...
214   Total:     453,519    +5,303       16,757       +154
215   Total:     121,322    +1,156        5,573        +35
216   Total:       8,257       +25           98         +2
217   Total:      30,090      +250        1,332         +4
218   Total:         721         0           15          0

[219 rows x 5 columns]

In [152]:
New_cases1=[]

for i in data["New_cases"]:
    s=str(i)
    s1=s.replace("+","")
    s2=s1.replace(",","")
    s3=int(s2)
    New_cases1.append(s3)

In [153]:
New_cases = New_cases1

In [154]:

New_deaths1=[]
for i in data["New_deaths"]:
    s=str(i)
    s1=s.replace("+","")
    s2=int(s1)
    New_deaths1.append(s2)

In [155]:
New_deaths=New_deaths1
data = pd.DataFrame(list(zip(country,Total_cases,New_cases,Total_deaths,New_deaths)),columns=["Country","Total_cases","New_cases","Total_deaths","New_deaths"])

In [156]:
data

     Country Total_cases  New_cases Total_deaths  New_deaths
0        USA     925,758        526       52,217          24
1      Spain     219,764          0       22,524           0
2      Italy     192,994          0       25,969           0
3     France     159,828          0       22,245           0
4    Germany     155,054         55        5,767           7
..       ...         ...        ...          ...         ...
214   Total:     453,519       5303       16,757         154
215   Total:     121,322       1156        5,573          35
216   Total:       8,257         25           98           2
217   Total:      30,090        250        1,332           4
218   Total:         721          0           15           0

[219 rows x 5 columns]