In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
class scrap():
    def connect(self,url):#connect with the website
        response = requests.get(url)
        
        return BeautifulSoup(response.content,"html.parser")
   

    def table(self,soup): #extracting table
        table = soup.find_all("table")
        len(table)
        table=table[0]

        #creating list to store values
        country=[]
        Total_cases=[]
        New_cases=[]
        Total_deaths=[]
        New_deaths=[]
        Total_recovered=[]
        Active_cases=[]
        cases_per_Million=[]
        deaths_per_Million=[]
        test_per_Million=[]
        Population=[]
        
        
        #extracting data from table
        rows=table.find_all("tr")[9:-8]
        for row in rows:
            col = row.find_all("td")
            country.append(col[1].text.strip())
            Total_cases.append(col[2].text.strip())
            New_cases.append(col[3].text.strip())
            Total_deaths.append(col[4].text.strip())
            New_deaths.append(col[5].text.strip())
            Total_recovered.append(col[6].text.strip())
            Active_cases.append(col[7].text.strip())
            cases_per_Million.append(col[9].text.strip())
            deaths_per_Million.append(col[10].text.strip())
            test_per_Million.append(col[12].text.strip())
            Population.append(col[13].text.strip())
        
    
        #creating dataframe

        data = pd.DataFrame(list(zip(country,Total_cases,New_cases,Total_deaths,New_deaths,Active_cases,cases_per_Million,deaths_per_Million,test_per_Million,Population)),columns=["country","Total_cases","New_cases","Total_deaths","New_deaths","Active_cases","cases_per_Million","deaths_per_Million","test_per_Million","Population"])
        
        return data
    
    
    def clean(self,value):
        
        value.replace(r'^s*$',np.nan,regex=True,inplace=True)
        value.replace(np.nan,0,inplace=True)
        
        newcol=[]
        for i in value:
           
            
            if i == "N/A":
                ss=i.replace("N/A","0")
                s1 = int(ss)
                newcol.append(s1)
                
           
                
            else:
                
                s1 = str(i)
                s2 = s1.replace("+","")
                s3 = s2.replace(",","")

                s4 = int(s3)
                
                    
                newcol.append(s4)
        return newcol

In [3]:
s = scrap()
soup=s.connect("https://www.worldometers.info/coronavirus/")
data = s.table(soup)

In [4]:
data

,country,Total_cases,New_cases,Total_deaths,New_deaths,Active_cases,cases_per_Million,deaths_per_Million,test_per_Million,Population
0,USA,"1,481,831","+24,238","88,391","+1,479","1,071,968","4,480",267,"33,306","330,753,490"
1,Spain,"274,367","+1,721","27,459",+138,"57,941","5,868",587,"52,784","46,752,506"
2,Russia,"262,843","+10,598","2,418",+113,"202,199","1,801",17,"43,953","145,926,611"
3,UK,"236,711","+3,560","33,998",+384,N/A,"3,489",501,"34,686","67,840,351"
4,Italy,"223,885",+789,"31,610",+242,"72,070","3,702",523,"47,553","60,472,892"
...,...,...,...,...,...,...,...,...,...,...
210,Western Sahara,6,,,,0,10,,,"595,301"
211,Anguilla,3,,,,0,200,,,"14,986"
212,Lesotho,1,,,,1,0.5,,,"2,140,050"
213,Saint Pierre Miquelon,1,,,,0,173,,,"5,797"
214,China,"82,933",+4,"4,633",,91,58,3,,"1,439,323,776"

In [5]:
# Lesotho country has cases per million count in float i.e. 0.5 
# and currently (as of 15th may ) it has only 1 case and no deaths.
# so it can be removed as it wont affect any of our analysis.

data=data.drop(data.index[212])

In [6]:


data["New_cases"] = s.clean(data["New_cases"])

data["Total_cases"] = s.clean(data["Total_cases"])

data["Total_deaths"] = s.clean(data["Total_deaths"])

data["New_deaths"] = s.clean(data["New_deaths"])

data["Active_cases"] = s.clean(data["Active_cases"])

data["cases_per_Million"] = s.clean(data["cases_per_Million"])

data["deaths_per_Million"] = s.clean(data["deaths_per_Million"])

data["tests_per_Million"] = s.clean(data["tests_per_Million"])

data["Population"] = s.clean(data["Population"])

ValueError: invalid literal for int() with base 10: '0.9'

In [ ]:
data

In [ ]:
data.info()